.button {
    margin: 10px 10px 10px 80px;
}

.start {
    margin: 10px 0px 10px 25px;
}

.end {
    margin: 10px 0px 10px 20px;
}

input {
    width: 300px;
}
.app {
    display: flex;
}
.map {
    width:50%;
    margin: 30px 100px;
    border: 1px solid black;
}
.box {
    margin: 100px 30px;
    
}